################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FourtitudeAspNet
/FourtitudeAspNet/bin/Debug/net8.0
/FourtitudeAspNet/obj
/FourtitudeAspNet/task1.md
/FourtitudeAspNet/GEMINI.md
/.vs/
/FourtitudeAspNet/DrepositoryInterviewFourtitudeAspNetFourtitudeAspNetFourtitudeDb.db
/FourtitudeAspNet/DrepositoryInterviewFourtitudeAspNetFourtitudeAspNetFourtitudeDb.db-shm
/FourtitudeAspNet/DrepositoryInterviewFourtitudeAspNetFourtitudeAspNetFourtitudeDb.db-wal
